@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* this removes the line under the links */
a {
  text-decoration: none;
  color:black
}

 /* this removes the dots on the list items*/
 ul {list-style-type: none;}
 

/*attacking header*/
.header {

  display: flex;
  justify-content: space-between;

}

.left-links,.right-links {

  display: flex;
  justify-content: space-between;
  gap: 12px;
  
}

ul {
  flex-shrink: 0;
}


/*attacking body and search bar */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 /*footer , cloned from 04 flex exercises*/
 .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;;
  justify-content: space-between;
  background: #eee;
}


